export(
applyUncertainty,
callSCRAM,
ftree2mef,
readSCRAMcutsets,
readSCRAMprobability,
readSCRAMimportance,
readSCRAMuncertainty,
scram.cutsets,
scram.probability,
scram.importance,
scram.uncertainty
)
importFrom(FaultTree,test.ftree)